<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TrackGenix: Work Hours Recording System</title>
        <meta name="description" content="“TRACKGENIX” is a revolutionary system designed by GigaTech Software 
        Solutions SA. This system will allow them to efficiently manage their projects, schedule flow, selected 
        work teams and much more.">
        <meta name="keywords" content="TRACKGENIX, HOURS LOG, EMPLOYEE REGISTRATION SYSTEM, EMPLOYEE TIME CONTROL">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/mainlogin.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <img src="../assets/images/LOGO-RR 3.png" alt="logoCompany">
            <h1>TRACKGENIX</h1>
            <img class="burguerMenu" src="../assets/images/clipart365828.png" alt="logo burguer menu">
            <nav>
                <ul>
                    <li><button><a href="#">Features</a></button></li>
                    <li><button><a href="#">Why Should You Use Trackgenix</a></button></li>
                    <li><button><a href="#">History</a></button></li>
                    <li><button><a href="#">Products</a></button></li>
                    <li><button><a href="#">About Us</a></button></li>
                    <li><button><a href="#">Support</a></button></li>
                </ul>
            </nav>
        </header>
        <aside>
            <form class="asideInput">
                <input type="search" value="search">
            </form>
            <p class="subtitleAside">
                Menu
            </p>
            <ul>
                <li><a href="index.html">Home</a></li>
                <div class="sectionDividingLine">
                </div>
                <li><a href="signup.html">Sign Up</a></li>
                <div class="sectionDividingLine">
                </div>
                <li><a href="login.html">Login</a></li>
                <div class="sectionDividingLine">
                </div>
                <li><a href="#">Contact Information</a></li>
            </ul>
            <img src="../assets/images/LOGO-RR 3.png" alt="logo company">
            <p>
                Developed by GigaTech Software Solutions S.A.
            </p>
        </aside>
        <main>
            <button><a href="index.html">Back</a></button>
            <div class="container">
                <img class="iconProfile" src="../assets/images/Edit photo.png" alt="icono perfil">
                <h3>Login</h3>
                <form>
                        <div>
                            <img class="iconLogin" src="../assets/images/icons8-correo-24.png" alt="icon email">
                            <input id="mailInput" type="mail">
                        </div>
                        <div>
                            <img class="iconLogin" src="../assets/images/icons8-privado-2-50.png" alt="image padlock">
                            <input id="passwordInput" type="password">
                        </div>
                        <div class="checkboxForm">
                            <div>
                                <input id="checkbox" type="checkbox">
                                <label for="checkbox">Remember Me</label>
                            </div>
                            <a href="">Forgot passward?</a>
                        </div>
                        <div class="checkboxForm1">
                            <p>Don't have an account?</p>
                            <p><a href="">Sign Up</a></p>
                        </div>
                        <button id="submitButton" class="supportSectionButtonStyle">
                            Continue
                        </button>
                </form>
            </div>
        </main>
            <footer>
                <div class="iconfoo">
                    <a href="https://www.facebook.com/" target="_blank"><img class="icono-footer" 
                        src="../assets/images/Vector.png" alt=""></a>
                    <a href="https://www.twitter.com/" target="_blank"><img class="icono-footer" 
                        src="../assets/images/twiiter.png" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="icono-footer"
                        src="../assets/images/Instagram - Negative.png" alt=""></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img class="icono-footer"
                        src="../assets/images/LinkedIn - Negative.png" alt=""></a>
                </div>
                <p>
                    Rosario, Argentina.
                </p>
                <p>
                    Copyright © 2022 Gigatech Software Solutions. All rights reserved.
                </p>
            </footer>
    </body>
</html>