html,body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
header {
    position: fixed;
    z-index: 1;
    width: 1512px;
    height: 50px;
    padding: 8px;
    background-color: #373867;
}
h1 {
    width: 1512px;
    text-align: center;
    margin: 0%;
    font-size: 60px;
    color: #46A07B;  
}
header img {
    height: 50px;
    align-items: center;
}
aside {
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 100%;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    margin-top: 60px;
    background-color: rgba(159, 159, 168, 0.5);
}
aside input {
    position: relative;
    bottom: 50px;
    width: 200px;
}
aside ul {
    padding: 0%;
    margin-bottom: 130px;
}
aside a {
    list-style-type: none;
    color: #479679;
}
a {
    text-decoration: none;
    color: black;
}
aside img {
    margin-top: 70px ;
}
aside h4 {
    margin: 0%;
    color: #373867;
}
aside p {
    margin: 0%;
    font-size: 12px;
}
nav {
    position: fixed;
    z-index: 1;
    top: 65px;
    width: 1262px;
    left: 250px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    background-color: #373867;
}
nav button {
    background-color: #373867;
    border: none;
}
nav a {
    margin-right: 100px;
    color: #46A07B;
}
nav ul li {
    display: inline-block;
    position: relative;
    height: 30px;
    top: 10px;
    color:#46A07B;
}
h2 {
    position: relative;
    bottom: 30px;
    text-align: center;
    font-size: 48px;
    color:#373867;
    font-weight: 400;
}
h3 {
    font-size: 32px;
    margin-top: 30px;
}
main {
    position: relative;
    width: 1100px;
    top: 0;
    left: 20%;
    top: 150px;
}
form {
    height: 550px;
}
form article p {
    display: inline-block;
}
label {
    display: block;
    margin-top: 30px;
}
textarea {
    height: 170px;
    width: 900px;
    border: grey solid 1px;
    margin-top: 10px;
}
footer {
    position: absolute;
    width: 1262px;
    left: 250px;
    height: 50px;
    margin: 200px 0px;
    text-align: center;
    background-color: #373867;
}
footer p {
    margin: 20px 0px;
}

.iconAside {
    position: relative;
    bottom: 47px;
    right: 30px;
}
.sectionDividingLine {
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
    width: 1262px;
    border-top: 1px solid black;
}
.titleHeader {
    position: relative;
    bottom: 70px;
    left: 20px;
    text-align: center;
}
.firstSectionMainTitle {
    position: relative;
    left: 450px;
    top: 30px;
    border-radius: 8px;
    border: grey solid 3px;
    height: 50px;
    width: 200px;
    filter: blur(3px);
    background-color: rgba(170, 206, 155, 0.7) ;
}
.firstSectionMain {
    height: 500px;
    background-color: rgba(222, 239, 241, 1); 
    background-image: linear-gradient(rgba(222, 239, 241, 1), white);
}
.firstSectionMain p {
    position: absolute;
    top: 240px;
    right: 600px;
    font-size: 22px;
}
.imageWelcome {
    position: absolute;
    width: 500px;
    right: 10px;
    top: 160px;
}
.secondSectionMain {
    height: 550px;
}
.secondSectionMainBackground {
    position: relative;
    left: 150px;
    top: 50px;
    width: 170px;
    height: 180px;
    background-color: rgba(170, 206, 155, 0.7);
}
.secondSectionMainBackgroundImage {
    position: relative;
    left: 500px;
    width: 170px;
    height: 180px;
    background-color: rgba(170, 206, 155, 0.7);
}
.secondSectionMainBackgroundSame {
    position: relative;
    bottom: 150px;
    left: 150px;
    width: 170px;
    height: 180px;
    background-color: rgba(170, 206, 155, 0.7);
}
.secondSectionMainBackgroundImageSame {
    position: relative;
    left: 500px;
    width: 170px;
    height: 180px;
    background-color: rgba(170, 206, 155, 0.7);
}
.multiple {
    position: relative;
    bottom: 400px;
}
.imageMain {
    width: 150px;
}

.imageMainOurProducts {
    width: 250px;
}

.articleHoursLog {
    display: inline-block;
    position: relative;
    width: 465px;
    bottom: 200px;
    left: 165px;
}
.articleResourceManagement {
    display: inline-block;
    position: relative;
    width: 465px;
    bottom: 390px;
    left: 165px;
}
.articleReports {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    width: 465px;
    bottom: 200px;
    left: 185px;
}

.articleMultipleRoles {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    width: 465px;
    bottom: 400px;
    left: 185px;
}
.articleHoursLogParagraph {
    padding-left: 30px;
    margin-bottom: 42px;
    font-size: 20px;
}
.articleResourceManagementParagraph {
    font-size: 20px;
    margin-bottom: 32px;
}
.articleReportsParagraph {
    position: relative;
    bottom: 20px;
    padding-left: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.articleMultipleRolesParagraph {
    position: relative;
    bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.sectionWhyShouldYouUseTrackgenix {
    height: 600px;
}
.articleProductivityBooster {
    display: inline-block;
    position: relative;
    left: 20px;
    bottom: 200px;
    width: 465px;
}
.articleProductivityBoosterTitle {
    margin: 50px 0px 30px 10px ;
    font-size: 26px;
}
.articleProductivityBoosterBackground {
    position: relative;
    top: 75px;
    left: 5px;
    height: 170px;
    width: 170px;
    rotate: 50deg;
    background-color: rgba(170, 206, 155, 0.7);
}
.articleWorkTracebilityBackground {
        position: relative;
        bottom: 350px;
        left: 600px;
        height: 170px;
        width: 170px;
        rotate: 50deg;
        background-color: rgba(170, 206, 155, 0.7);
}
.articleLeadershipAndTeamManagementBackground {
    position: relative;
    bottom: 500px;
    left: 5px;
    height: 170px;
    width: 170px;
    rotate: 50deg;
    background-color: rgba(170, 206, 155, 0.7);
}
.articleDecisionMakingBackground {
    position: relative;
    bottom: 940px;
    left: 600px;
    height: 170px;
    width: 170px;
    rotate: 50deg;
    background-color: rgba(170, 206, 155, 0.7);
}
.pro {
    position: relative;
    left: 185px;
    top: 50px;
}
.work {
    position: relative;
    left: 145px;
    top: 50px;
}
.leader {
    position: relative;
    left: 175px;
    top: 50px;
}
.decision {
    position: relative;
    left: 145px;
    top: 50px;
}
.articleProductivityBoosterParagraph  {
    display: inline-block;
    position: relative;
    bottom: 40px;
    width: 200px;
    padding-left: 30px;
}
.articleWorkTracebility {
    display: inline-block;
    position: relative;
    bottom: 635px;
    width: 465px;
    left: 635px;
}
.articleWorkTracebilityParagraph {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 200px;
    bottom: 60px;
}
.articleLeadershipAndTeamManagement {
    display: inline-block;
    position: relative;
    left: 15px;
    bottom: 790px;
    width: 465px;
}
.articleLeadershipAndTeamManagementParagraph {
    display: inline-block;
    position: relative;
    left: 20px;
    width: 280px;
    padding-left: 20px;
    top: 10px;
}
.articleDecisionMaking {
    display: inline-block;
    position: relative;
    bottom: 1220px;
    width: 465px;
    left: 615px;
}
.articleDecisionMakingParagraph {
    display: inline-block;
    position: relative;
    width: 150px;
    padding-left: 20px;
    bottom: 40px;
    left: 20px;
}
.inscriptionText {
    width: 430px;
    margin-right: 18px;
    margin-top: 30px;
    height: 15px;
    padding: 10px;
    border: grey solid 1px;
}
.inscriptionTextArea {
    display: block;
    width: 900px;
    margin: 30px 0px;
    padding: 10px;
    border: black solid 1px;
}
.checkboxForm {
    position: relative;
    left: 480px;
}
.checkboxFormParagraph {
    position: relative;
    left: 480px;
}
.sectionCompanysMission {
    height: 900px;
}
.sectionCompanysMissionGradient {
    background-color: rgba(222, 239, 241, 1);
    background-image: linear-gradient(rgba(222, 239, 241, 1), white);
}
.sectionCompanysMissionLogoCompany {
    position: relative;
    left: 800px;
    bottom: 40px;
    width: 120px;
}
.companysMissionRoad {
    position: relative;
    bottom: 100px;
    margin: 0%;
    font-size: 32px;
    color: #373867;
    font-weight: 600;
}
.companysMissionRoadParagraph {
    position: relative;
    bottom: 70px;
    right: 150px;
    margin: 0%;
    text-align: right;
    color: black;
    font-weight: bold;
}
.companysMissionRoadSecondParagraph {
    text-align: center;
    margin-bottom: 5px;
}
.companysMissionRoadThirdParagraph {
    text-align: left;
    margin-bottom: 5px;
}
.secondRoadTitle {
    bottom: 0px;
    font-weight: 600;
    margin-top: 40px;
}
.companysMissionComments {
    background-color: rgba(217, 217, 217, 0.2);
    height: 70px;
    margin-top: 30px;
}
.companysMissionCommentsParagraph {
    padding: 15px 0px 0px 30px;
}
.companysMissionCommentsSecondParagraph {
    text-align: right;
    margin-top: 5px;
    padding-right: 10px;
}
.aboutUs {
    display: inline-block;
    width: 450px;
    margin-top: 30px;
}
.imageSectionCompanysMission{
    position: relative;
    width: 350px;
    left: 230px;
    top: 25px;
}
.aboutUsParagraph {
    color: #373867;
}
.ourProductsSection {
    font-family: 'Roboto', sans-serif;
    height: 950px;
}
.ourProductsAssorted {
    display: inline-block;
    width: 470px;
    margin-bottom: 80px;
    text-align: center;
}
.ourProductsDivision {
    width: 300px;
    margin-left: 120px;
    text-align: left;
}
.ourProductsAssortedTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.ourProductsSection ul {
    margin-top: 15px;
}
.ourProductsSection ul li {
    margin-top: 5px;
    list-style-type: none;
}
.companiesSection {
    height: 750px;
    font-family: 'Roboto', sans-serif;
}
.sectionCompaniesImage {
    width: 300px;
}
.sectionCompaniesSecondImage {
    position: relative;
    width: 300px;
    left: 700px;
}
.companiesSectionDivision {
    display: inline-block;
    position: relative;
    width: 450px;
    bottom: 70px;
    margin-left: 100px;
}
.companiesSectionSubDivision {
    display: inline-block;
    position: relative;
    width: 450px;
    right: 250px;
    bottom: 40px;
}
.sectionCompaniesThirdImage {
    position: relative;
    width: 300px;
    right: 760px;
    top: 240px;
}
.our {
    position: relative;
    left: 300px;
    top: 80px;
}
.companiesSectionSubtitle {
    font-size: 28px;
    font-weight: bold;
}
.companiesSectionTitle {
    margin-bottom: 50px;
}
.supportSection {
    font-family: 'Roboto', sans-serif;
}
.supportSectionDivision {
    display: inline-block;
    width: 450px;
}
.subDivision {
    position: relative;
    left: 200px;
}
.imageSupportSection {
    width: 350px;
    height: 250px;
}
.supportImageParagraph {
    display: inline-block;
    width: 300px;
    text-align:center;
    margin-left: 10px;
}
.supportImageSecondParagraph {
    display: inline-block;
    position: relative;
    left: 450px;
    text-align:center;
}
.supportTitleTutorial {
    font-weight: bolder;
    font-size: 24px;
}
.supportSubitleTutorial {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.supportSectionButtonStyle {
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 40px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    background-color: #950033;
    color: white;
    
  }
.supportSectionButtonStyle a {
    color: white;
    font-weight: bold;
}
.supportSectionButton {
    margin-top: 50px;
    text-align: center;
}
.icono-footer {
    width: 50px;
    margin-right: 30px;
}
