body {
    font-family: 'roboto';
    margin: 0%;
}
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #373867;
    padding: 8px;
}
h1 {
    width: 90%;
    text-align: center;
    color: #46A07B;
    margin: 0%;
    font-size: 60px;   
}
header img {
    height: 50px;
    align-items: center;
}
aside {
    position: fixed;
    z-index: 1;
    width: 15%;
    height: 100%;
    background-color: rgba(159, 159, 168, 0.5);
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    margin-top: 60px;
}
aside ul {
    padding: 0%;
    margin-bottom: 130px;
}
aside a {
    list-style-type: none;
    color: #479679;
}
a {
    text-decoration: none;
    color: black;
}
aside img {
    margin-top: 70px ;
}
aside h4 {
    color: #373867;
    margin: 0%;
}
aside p {
    margin: 0%;
    font-size: 12px;
}
nav {
    position: fixed;
    z-index: 1;
    top: 65px;
    width: 90%;
    left: 15%;
    background-color: #373867;
    height: 50px;
    text-align: center;
    font-size: 22px;
}
nav button {
    background-color: #373867;
    border: none;
}
nav a {
    margin-right: 100px;
    color: #46A07B;
}
nav ul li {
    display: inline-block;
    height: 30px;
    position: relative;
    top: 10px;
    color:#46A07B;
}
h2 {
    position: relative;
    bottom: 30px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    color:#373867;
}
h3 {
    font-size: 32px;
    margin-top: 30px;
}
main {
    width: 70%;
    position: relative;
    top: 0;
    left: 20%;
    top: 150px;
}
form {
    height: 550px;
}
footer {
    position: absolute;
    background-color: #373867;
    width: 80%;
    left: 16%;
    height: 50px;
    margin: 200px 0px;
    text-align: center;
}
.titu {
    position: relative;
    bottom: 70px;
    left: 20px;
    text-align: center;
}
.welcome-title {
    position: relative;
    left: 430px;
    top: 30px;
    background-color: #AACE9B ;
    border-radius: 8px;
    border: grey solid 3px;
    height: 50px;
    width: 200px;
    filter: blur(3px);
}
.welcome {
    background-color: rgba(222, 239, 241, 1); 
    background-image: linear-gradient(rgba(222, 239, 241, 1), white);
    height: 500px;
}
.welcome p {
    position: absolute;
    top: 240px;
    right: 600px;
    font-size: 22px;
}
.imagen-seccion-1 {
    width: 500px;
    position: absolute;
    right: 10px;
    top: 160px;
}
.application {
    height: 550px;
}
.div-apli {
    position: relative;
    left: 150px;
    top: 50px;
    background-color: rgba(170, 206, 155, 0.3);
    width: 170px;
    height: 180px;
}
.div-aplica {
    position: relative;
    left: 500px;
    background-color: rgba(170, 206, 155, 0.3);
    width: 170px;
    height: 180px;
}
.div-apli1 {
    position: relative;
    bottom: 150px;
    left: 150px;
    background-color: rgba(170, 206, 155, 0.3);
    width: 170px;
    height: 180px;
}
.div-aplicado {
    position: relative;
    left: 500px;
    background-color: rgba(170, 206, 155, 0.3);
    width: 170px;
    height: 180px;
}
.multiple {
    position: relative;
    bottom: 400px;
}
.imagen-seccion-2 {
    width: 150px;
}
.seccion-2 {
    display: inline-block;
    width: 45%;
    position: relative;
    bottom: 200px;
    left: 165px;
}
.seccion-2-abajo {
    display: inline-block;
    width: 45%;
    position: relative;
    bottom: 390px;
    left: 165px;
}
.seccion-2-der {
    display: inline-block;
    margin-top: 50px;
    width: 45%;
    position: relative;
    bottom: 200px;
    left: 185px;
}
.multiple {
    position: relative;
    bottom: 400px;
}
.parrafo-seccion-hours {
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.parrafo-seccion-2-resource {
    font-size: 20px;
    margin-bottom: 20px;
}
.parrafo-seccion-reports {
    padding-left: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.parrafo-seccion-2-multiple {
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
