
footer {
    width: 100%;
}

footer p {
    margin: 0.8rem 0rem;
    text-align: center;
}

.iconfoo {
    display: flex;
    justify-content: space-around;
    background-color: #373867;
    align-items: center;
}

@media (min-width: 768px) {
    footer {
        width: 70%;
        margin-left: 30%;
    }
}