main {
    margin-top: 5rem;
}
section {
    margin: 2rem 0rem ;
}
h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
span {
    color: blue;
}
form {
    margin-left: auto;
    margin-right: auto;
}
input {
    display: block;
    width: 80%;
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
form article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
form p {
    font-size: 0.8rem;
}
form article input {
    width: 25%;
}
textarea {
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
}
label {
    display: none;
}
.imageWelcome {
    width: 50%;
    margin-top: 1rem;
}
.imageMain {
    width: 40%;
    background-color: rgba(170, 206, 155, 0.3) ;
}
.firstSectionMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstSectionMain p {
    margin-top: 30px;
    width: 70%;
}
.firstSectionMainTitle {
    border-radius: 8px;
    border: grey solid 3px;
    height: 50px;
    width: 200px;
    margin: 4rem 0rem 2rem 0rem;
    background-color: rgba(170, 206, 155, 0.7) ;
}
.firstSectionMainDesktop {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.firstSectionMainDesktop p {
    width: 100%;
}
.sectionDividingLine {
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
    width: 70%;
    border-top: 1px solid black;
}
.applicationFeaturesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.secondSectionMain article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    width: 45%;
    justify-content: center;
    margin-top: 10px;
}
.flexItemApplicationFeatures {
    text-align: center;
}
.sectionWhyShouldYouUseTrackgenix article{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.imageWhyShould {
    width: 100%;
    background-color: white;
}
.parrafo-whyshould {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.articleProductivityBoosterTitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.paragraphWhyShould {
    font-size: 0.8rem;
}
.messageInscriptionForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.sectionCompanysMissionGradient {
    background-color: rgba(222, 239, 241, 1);
    background-image: linear-gradient(rgba(222, 239, 241, 1), white);
}
.companisMissionTitle {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 5rem;
}
.companysMissionRoad {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 0.5rem;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #373867;
}
.secondRoadTitle {
    width: 95%;
    margin: 1rem auto;
    text-align: center;
}
.companysMissionRoadParagraph {
    text-align: center;
    font-weight: 600;
}
.companysMissionParagraph {
    text-align: center;
    margin-top: 1rem;
}
.companysMissionComments {
    background-color: rgba(217, 217, 217, 0.2);
    height: 6rem;
    margin-top: 1.5rem;
}
.companysMissionCommentsParagraph {
    width: 90%;
    margin: 1rem auto;
    font-style: italic;
}
.companysMissionCommentsSecondParagraph {
    text-align: right;
    margin-right: 1rem;
}
.aboutUs {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    align-items: center;
}
.aboutUsDesktop {
    align-items: center;
}

.ourProductsAssorted {
    text-align: center;
}
.ourProductsAssorted p,ul {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 1rem auto;
    text-align: left;
}
.ourProductsAssorted ul {
    display: flex;
    flex-direction: column;
    list-style-type:disc;
}
.ourProductsAssortedTitle {
    font-size: 1.2rem;
    font-weight: bold;
}
.companiesSectionDivision {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem;
}
.companiesSectionSubDivision {
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}
.imageCompanyCenter {
    flex-direction: row-reverse;
}
.companiesSectionSubtitle {
    font: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}
.supportSection {
    text-align: center;
}
.supportImageParagraph {
    width: 70%;
    margin:1rem auto;
    font-size: 1rem;
    font-weight: bold;
}
.supportSubitleTutorial {
    font-size: 1.75rem;
    margin-left: 1rem;
    text-align: left;
}
.tutorials {
    text-align: left;
}
.tutorials ol {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.tutorials li {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-weight: bold;
}
.supportSectionButtonStyle {
    font-size: 1rem;
    margin: 0.25rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #950033;
    color: white;
  }
.supportSectionButtonStyle a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.supportSectionButton {
    display: flex;
    margin-top: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    main {
        flex: 70%;
        margin-left: 30%;
    }
}

@media (min-width: 1200px) {
    .firstSectionMainDesktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .whyShouldContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .sectionWhyShouldYouUseTrackgenix article {
        width: 40%;
        justify-content: space-between;
    }
    .ourProductsContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .ourProductsAssorted {
        width: 50%;
    }
    .aboutUsDesktop {
        display: flex;
    }
    .aboutUs {
        width: 50%;
        align-items: center;
    }
    .companiesSectionDivision {
        display: flex;
    }
    .supportSectionContainer {
        display: flex;
    }
    .supportSectionDivision {
        width: 50%;
    }
}